<link rel="stylesheet" href="/static/main.css">
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="nav" id="site_navigation">
      <p>
        <a class="nav_link" href="/">Index</a>
        <a class="nav_link" href="/new_reference">New reference</a>
        <a class="nav_link" href="/references">All references</a>
      </p>
    </div>
  {% for message in get_flashed_messages() %}
    <div class="info">
      <b>{{ message }}</b>
    </div>
  {% endfor %}
  {% block content %}{% endblock %}
  </body>
</html>
