{% extends "layout.html" %}


{% block title %}Uusi viite{% endblock %}
{% block content %}
<h2>New reference</h2>
<i>* required information</i>
<form action="/make_reference", method="POST">
    <p>
    <label for="ref_type">Reference type</label>
    <select name="ref_type" id="ref_type" required>
        <option value="book">Book</option>
        <option value="article">Article</option>
        <option value="inproceedings">Inproceedings</option>
    </select>
    </p>
    <p>
        <label for="author">Author(s):</label> 
        <input type="text" name="author" id="author" required> *
    </p>
    <p>
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required> *
    </p>
    <p>
        <label for="year">Year:</label>
        <input type="number" name="year" id="year" required> *
    </p>
    <p>
        <label for="journal">Journal:</label>
        <input type="text" name="journal" id="journal">
        <label for="volume">Volume:</label>
        <input type="text" name="volume" id="volume">
    </p>
    <p>
        <label for="publisher">Publisher</label>
        <input type="text" name="publisher" id="publisher">
        <label for="booktitle">Booktitle</label>
        <input type="text" name="booktitle" id="booktitle">
        <label for="edition">Edition</label>
        <input type="text" name="edition" id="edition">
        <label for="chapter">Chapter</label>
        <input type="text" name="chapter" id="chapter">
    </p>
    <p>
        <label for="pages">Pages</label>
        <input type="text" name="pages" id="pages">
    </p>
    <p>
        <label for="doi">DOI</label>
        <input type="text" name="doi" id="doi">
    </p>
    <p>
        <label for="address">Address</label>
        <input type="text" name="address" id="address">
    </p>
    <input type="submit" value="Add refence"/>
</form>
{% endblock %}