{% extends "layout.html" %}


{% block title %}All references{% endblock %}
{% block content %}
<h1>All references</h1>

{% if references %}
    <form action="/references" method="POST">
        <label for="order">Order by:</label>
        <select id="criteria" name="criterion">
            <option value="author">Author</option>
            <option value="title">Title</option>
            <option value="year">Year</option>
        </select>
        <select id="directions" name="direction">
            <option value="asc">↑</option>
            <option value="desc">↓</option>
        </select>
        <input type="submit" value="Order" />
    </form>

    <ol class="references">
        {% for reference in references %}
        <li class="ref_item"><a id="ref_link" href="/show_reference/{{reference.id}}">
            [{{ loop.index }}]
            {% if reference.ref_type == "article" %}
                {{ reference.author }}.
                {{ reference.title }}.
                <em>{{ reference.journal }}</em>
                {% if reference.volume %}, {{ reference.volume }}{% endif %}
                {% if reference.pages %}, {{ reference.pages }}{% endif %},
                {{ reference.year }}.
                
            {% elif reference.ref_type == "book" %}
                {{ reference.author }}.
                <em>{{ reference.title }}</em>.
                {% if reference.publisher %} {{ reference.publisher }} {% endif %},
                {{ reference.year }}.
        
            {% elif reference.ref_type == "inproceedings" %}
                {{ reference.author }}.
                {{ reference.title }}.
                In <em>{{ reference.booktitle }}</em>,
                {{ reference.year }}.

            {% else %}
                {{ reference.author }}.
                <em>{{ reference.title }}</em>,
                {{ reference.year }}.
            {% endif %}
        </a></li>
        {% endfor %}
        <a href="/bibtex">Generate BibTeX file</a>
    </ol>

{% else %}
    <p>No references found yet</p>
{% endif %}

{% endblock %}