{% extends "layout.html" %}


{% block title %}Reference {{ reference.id }}{% endblock %}

{% block content %}
<h1>Reference details</h1>
<p>
    Reference type: {{ reference.ref_type }}
</p>
<p>
    <strong>name: {{ reference.title }}</strong> 
</p>
<p>
    Citation Key: {{ reference.citation_key }}
</p>
<p>
    Year published: ({{ reference.year }})
</p>
<p>
    Author: {{ reference.author }}
</p>

<br>

<em><p>
{% if reference.ref_type == "article" %}
    Journal: {{ reference.journal }}
    {% if reference.volume %} Volume: {{ reference.volume }}{% endif %}
    {% if reference.pages %} Pages: {{ reference.pages }}{% endif %}.

{% elif reference.ref_type == "book" %}
    Publisher: {{ reference.publisher }}.

{% elif reference.ref_type == "inproceedings" %}
    IBooktitle: <em>{{ reference.booktitle }}</em>.
{% endif %}
</p></em>

<p><a href="/references">Back to all references</a></p>

<form action="/delete_reference/{{ reference.id }}", method="POST">
    <input type="submit" value="Delete reference"/>
</form>
<form action="/edit_reference/{{ reference.id }}">
    <input type="submit" value="Edit reference"/>
</form>
<!--<a href="/edit_reference/{{ reference.id }}">Edit reference</a> -->
{% endblock %}
