body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: lightblue;
}

.nav {
    background-color: lightgray;
    max-width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
}

.nav_link {
    margin-left: 3px;
    margin-right: 3px;
    background-color: yellowgreen;
}

.ref_item {
    background-color: lightgrey;
    margin-bottom: 0.5rem;
    border: 1px solid black;
}